@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('images/bgSpace.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}

.container {
	width: 90vw;
	max-width: 1070px;
	margin: auto;
}

#map {
	width: 90vw;
	max-width: 510px;
}

.position .coords {
	margin: 1rem 0 2rem;
}

#lat,
#lon {
	font-size: 2rem;
	font-weight: 300;
	color: #fafafa;
}

.world {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1000px) {
	.coords {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
